*{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 1170px;
    margin: auto;
}
header{
    background: url("403041.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}
.nav{
float: right;
list-style: none;
margin-top: 30px;
}
.nav li{
    display: inline-block;
}
.nav  li a{
        background: #009688;
        color: #6e0909;
    text-decoration: none;
    padding: 5px 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
.nav li a:hover{
    background: #fff;
    color: #333;
    border-radius: 10%;
}
.logo img{
    width: 100px;
    float: left;
    height: auto;
}
.planning{
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 20% 30%;
    text-align: center;
}
.planning h1{
text-align: center;
color: red;
text-transform: uppercase;
font-size: 60px;
}
.planning a{
    border: 1px solid #3a0606;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 20px;
    display: inline-block;
    color: red  ;
}
.planning a:hover{
    background: #fff;
    color: #333;
}